a, a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

.shadow-box.hasscroll {
  height: 240px;
  overflow: scroll; }

.toolbar {
  padding: 0; }
  .toolbar li {
    list-style: none;
    text-align: center;
    margin: 0 auto 10px;
    cursor: pointer;
    position: relative;
    padding-top: 10px; }
    .toolbar li ~ li {
      border-top: 1px solid #ccc; }
  .toolbar span.is-desc {
    position: absolute;
    line-height: 45px;
    padding-right: 0;
    pointer-events: none;
    font-size: 12px;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 99; }
  .toolbar__item {
    background: #ccc;
    width: 100px;
    height: 50px;
    display: inline-block; }
    .toolbar__item.active {
      background: #9E7AB8; }
      .toolbar__item.active.is-trapezoid {
        border-bottom: 50px solid #9E7AB8; }
    .toolbar__item.is-circle {
      width: 50px;
      border-radius: 50%; }
    .toolbar__item.is-small {
      width: 50px; }
    .toolbar__item.is-ellipse {
      border-radius: 50%; }
    .toolbar__item.is-rounded {
      border-radius: 15px; }
    .toolbar__item.is-diamond {
      width: 50px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .toolbar__item.is-trapezoid {
      border-bottom: 50px solid #ccc;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      height: 0;
      width: 100px;
      background: transparent !important; }

/*============== main colors ======================*/
.shadow-box {
  background: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.33);
  margin-bottom: 20px;
  overflow: hidden; }

/*================== bootstrap overwright =================*/
html {
  direction: ltr; }

body {
  font-family: Arial;
  font-size: 14px;
  display: block;
  background: #E0E0E1;
  display: block;
  width: 100%;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial; }

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

input[type="url"], input[type="tel"], input[type="email"], input[type="number"], input[type="password"] {
  direction: rtl; }

.list-group-item {
  border: none;
  border-top: 1px dotted #666666;
  border-radius: 0;
  background-color: transparent;
  font-size: 12px;
  line-height: 23px; }
  .list-group-item i {
    padding-left: 5px; }
  .list-group-item:first-child {
    border-top: none; }

.messages-title {
  margin: 10px 10px 0 0;
  display: block; }

/*==================== context menu =======================*/
.m-contextMenu {
  display: none;
  position: absolute;
  width: 150px;
  z-index: 999;
  right: auto !important; }
  .m-contextMenu li {
    padding: 8px; }
    .m-contextMenu li:hover {
      background: #9E7AB8;
      color: #fff; }
  .m-contextMenu.dropdown-menu .divider {
    height: 1px;
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
    padding: 1px; }

#contextMenu {
  right: auto;
  margin-left: -160px; }